body {
  background-color: darkgrey;
  background-image:url('../images/portfoliobackground.jpg');

  position: fixed;
  top: 0;
  left: 0;

  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;

}

.drop_down_op {
  opacity: 1;

}

.drop_down_op a {
  opacity: 1 !important;
  color: black;
  text-decoration: none;
}

.bottom {
  bottom: 0;
}

.main-font {
  font-size: 66px;
  color: white;
}

.main_info {
  position: absolute;
  top: 35%;
  text-align:justify;
}
